In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
file_dir = 'C://Users/jipea/Vandy_Data/Git_Hub/Movies-ETL-Resources/'

In [3]:
f'{file_dir}filename'

'C://Users/jipea/Vandy_Data/Git_Hub/Movies-ETL-Resources/filename'

In [4]:
# Wiki Data

In [5]:
### Extract

In [6]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [7]:
len(wiki_movies_raw)

7311

In [8]:
# View the first 5 records 
wiki_movies_raw[:5]

# View the last 5 records
wiki_movies_raw[-5:]

# View some records in the middle 
wiki_movies_raw[3600:3605]

[{'url': 'https://en.wikipedia.org/wiki/Benji:_Off_the_Leash!',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315273/',
  'title': 'Benji: Off the Leash!',
  'Directed by': 'Joe Camp',
  'Written by': 'Joe Camp',
  'Starring': ['Benji', 'Nick Whitaker', 'Shaggy', 'Gypsy the Cockatoo'],
  'Music by': 'Antonio di Lorenzo',
  'Productioncompany ': 'Mulberry Square Productions',
  'Distributed by': 'Mulberry Square Productions',
  'Release date': ['March 26, 2004', '(', '2004-03-26', ')'],
  'Running time': '97 min',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$3,817,362'},
 {'url': 'https://en.wikipedia.org/wiki/The_Best_Thief_in_the_World',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0389796/',
  'title': 'The Best Thief in the World',
  'Directed by': 'Jacob Kornbluth',
  'Produced by': ['Tim Perrell', 'Nicola Usborne'],
  'Written by': 'Jacob Kornbluth',
  'Starring': ['Marc Rozendaal',
   'Michael Silverman',
   'David Warshofsky',
   'Audra McDonald',
   'Lois Smith'],
  'Music by': ['Prince Paul', 'and', 'Don Newkirk'],
  'Cinematography': 'Ben Kutchins',
  'Edited by': 'Stephanie Sterner',
  'Distributed by': 'Showtime Networks',
  'Release date': ['January 16, 2004', '(', '2004-01-16', ')'],
  'Running time': '93 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Beyond_the_Sea_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0363473/',
  'title': 'Beyond the Sea',
  'Directed by': 'Kevin Spacey',
  'Produced by': ['Kevin Spacey',
   'Phillip Barry',
   'Dana Brunetti',
   'Arthur Friedman',
   'Jan Fantl',
   'Andy Paterson'],
  'Written by': ['Lewis Colick', 'Kevin Spacey'],
  'Starring': ['Kevin Spacey', 'Kate Bosworth', 'Bob Hoskins', 'John Goodman'],
  'Music by': 'Bobby Darin',
  'Cinematography': 'Eduardo Serra',
  'Edited by': 'Trevor Waite',
  'Productioncompany ': 'Trigger Street Productions',
  'Distributed by': ['Lionsgate Films',
   '(USA)',
   'Entertainment Film Distributors',
   '(UK)',
   'GAGA',
   '(Japan)',
   'Maple Pictures',
   '(Canada)'],
  'Release date': ['December 17, 2004', '(', '2004-12-17', ')'],
  'Running time': '118 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$8.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/The_Big_Bounce_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315824/',
  'title': 'The Big Bounce',
  'Directed by': 'George Armitage',
  'Produced by': ['George Armitage', 'Steve Bing'],
  'Screenplay by': 'Sebastian Gutierrez',
  'Based on': ['The Big Bounce', 'by', 'Elmore Leonard'],
  'Starring': ['Owen Wilson',
   'Charlie Sheen',
   'Morgan Freeman',
   'Sara Foster',
   'Gary Sinise'],
  'Music by': 'George S. Clinton',
  'Cinematography': 'Jeffrey L. Kimball',
  'Edited by': 'Barry Malkin',
  'Productioncompany ': 'Shangri-La Entertainment',
  'Distributed by': 'Warner Bros. Pictures',
  'Release date': ['January 30, 2004', '(', '2004-01-30', ')'],
  'Running time': '88 minutes',
  'Language': 'English',
  'Budget': '$50 million',
  'Box office': '$6.8 million'},
 {'url': 'https://en.wikipedia.org/wiki/Birth_(film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0337876/',
  'title': 'Birth',
  'Directed by': 'Jonathan Glazer',
  'Produced by': ['Lizie Gower', 'Nick Morris', 'Jean-Louis Piel'],
  'Written by': ['Jean-Claude CarriÃ¨re', 'Milo Addica', 'Jonathan Glazer'],
  'Starring': ['Nicole Kidman',
   'Cameron Bright',
   'Danny Huston',
   'Lauren Bacall'],
  'Music by': 'Alexandre Desplat',
  'Cinematography': 'Harris Savides',
  'Edited by': ['Sam Sneade', 'Claus Wehlisch'],
  'Distributed by': 'New Line Cinema',
  'Release date': ['November 8, 2004', '(', '2004-11-08', ')'],
  'Running time': '96 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$23.9 million'}]

In [ ]:
### Transform

In [ ]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [ ]:
wiki_movies_df.columns.to_list()

In [ ]:
wiki_movies = [movie for movie in wiki_movies_raw
              if ('Director' in movie or 'Directed by' in movie)
              and 'imdb_link' in movie
              and 'No. of episodes' not in movie]

In [ ]:
wiki_df = pd.DataFrame(wiki_movies)

In [ ]:
wiki_df.head()

In [ ]:
def clean_movie(movie):
        movie = dict(movie) #create non-destructive copy
        alt_titles = {}
        for key in ['Also know as','Arabic','Cantonese','Chinese','French',
                    'Hangul','Hebrew','Hepburn','Japanese','Literally']:
            if key in movie:
                alt_titles[key] = movie[key]
                movie.pop(key)
            if len(alt_titles) > 0:
                movie['alt_titles'] = alt_titles
                
            return movie

In [ ]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [ ]:
clean_movies.columns.to_list()

In [ ]:
# Kaggle Data

In [11]:
# Pull Kaggle data into Pandas DataFrames directly
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [12]:
# View five random rows from the dataset
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
21820,False,NaN,15000000,"[{'id': 28, 'name': 'Action'}, {'id': 10769, '...",http://drona.erosentertainment.com/,19623,tt1060249,hi,Drona,NaN,...,2008-10-02,3250000.0,150.0,"[{'iso_639_1': 'hi', 'name': 'à¤¹à¤¿à¤¨à¥à¤¦à¥'}]",Released,NaN,Drona,False,2.6,5.0
31713,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,79526,tt0986225,en,Duska,An older film critic's life is interrupted by ...,...,2007-10-04,0.0,110.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...",Released,NaN,Duska,False,4.8,4.0
25307,False,NaN,0,[],NaN,171357,tt2722780,en,"Jonathan Rosenbaum, Present",A portrait of the influential American film cr...,...,2013-02-27,0.0,13.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Jonathan Rosenbaum, Present",False,0.0,0.0
18849,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,40720,tt1407084,en,Twelve,A young drug dealer watches as his high-rollin...,...,2010-07-30,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,No one needs anything here. It's all about want.,Twelve,False,6.0,99.0
798,False,NaN,0,"[{'id': 10752, 'name': 'War'}, {'id': 18, 'nam...",NaN,151489,tt0104403,cy,Hedd Wyn,'Hedd Wyn' is a 1992 Welsh anti-war biopic. El...,...,1992-01-01,0.0,123.0,"[{'iso_639_1': 'cy', 'name': 'Cymraeg'}]",Released,NaN,Hedd Wyn,False,6.5,2.0